<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Misión,  Visión, Valores y Servicios</title>
</head>
<body>
    <h1 class="text-warning fw-bold">MISIÓN</h1>
    <p th:text="${mision}">Texto de misión por defecto.</p>

    <h1 class="text-warning fw-bold">VISIÓN</h1>
    <p th:text="${vision}">Texto de visión por defecto.</p>

    <h1 class="text-warning fw-bold">VALORES</h1>
    <p th:text="${valores}">Texto de visión por defecto.</p>

    <h1 class="text-warning fw-bold">SERVICIOS</h1>
    <p th:text="${servicios}">Texto de visión por defecto.</p>

</body>
</html>